*/*, *:before, *:after*/ {
    /*-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;*/
    box-sizing: border-box;
}


body{
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
   
}

body::before {    
    content: "";
    background-image: url("./students.jpg");
    background-size: cover;
    position: fixed;
   /* background-attachment: fixed;*/
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    object-fit:fill;
    height: 100%;
    width: 100%;
    background-position: center;
}
.container{
    position: relative;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form{
    max-width: 600px;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 5px;
    background-position: center center;
    background: rgba(104, 67, 19, 0.895);
}
fieldset {
    margin-bottom: 30px;
    border: none;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
    
}
h3{
    font-size: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    
}

  
input[type="text"]{
    background: rgba(253, 253, 253, 0.915);
    border: none;
    font-size: 18px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #354d60;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.01) inset;
    margin-bottom: 30px;
    border-radius: 5px;
}
input[type="email"]{
    background: rgba(253, 253, 253, 0.915);
    border: none;
    font-size: 18px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #354d607;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.01) inset;
    margin-bottom: 30px;
    border-radius: 5px;
}
input[type="number"]{
    background: rgba(253, 253, 253, 0.915);
    border: none;
    font-size: 18px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #354d60;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.01) inset;
    margin-bottom: 30px;
    border-radius: 5px;
}
select {
  background: rgba(253, 253, 253, 0.915);
  border: none;
  font-size: 18px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #354d60;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.01) inset;
  margin-bottom: 30px;
  border-radius: 5px;
}

textarea{
    background: rgba(253, 253, 253, 0.915);
    border: none;
    font-size: 18px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #354d60;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.01) inset;
    margin-bottom: 30px;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    
}
input[type="radio"]{
    margin: 0 4px 8px 0;
}
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}
select {
    padding: 10px;
    height: 50px;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 10px;
}
label.line{
    font-weight: 300;
    display: inline;
}
.button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #33a656;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #33a656;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 20px;
    margin-top: 20px;
    opacity: 5;
}

